body {
background-color: lightBlue;
}

h1 {
    border-radius: 30px;
    text-align: center;
  }
  p {
    margin: 10px;
  }
  
  div{
    background-color: silver;
    width: 35%;
    height: 150px;
    border-radius: 14px;
    border-style: solid;
    display: inline-block;
    vertical-align: top;
  }
  #header1{
    background-color: green;
    padding: 10px 10px 10px 20px;
    width: 40px;
    border-radius: 10px;
    position: relative; 
    top: -10px; 
    right: -395px;.
  }
  #header2{
    background-color: orange;
    padding: 10px 10px 10px 20px;
    width: 40px;
    border-radius: 10px;
    position: relative; 
    top: -10px; 
    right: -395px;.
  }#header3{
    background-color: lightBlue;
    padding: 10px 10px 10px 20px;
    width: 40px;
    border-radius: 10px;
    position: relative; 
    top: -10px; 
    right: -395px;.
  }
